{% extends 'portfolio/base-en.html' %}

{% load static %}

{% block content %}

        <div class="m-links-en" id="links">
            <a href="/en/" id="m-active-page" class="fa fa-home"> Home</a>
            <a href="/about/en" class="fa fa-info-circle"> About us</a>
            <a href="/blog/en" class="fa fa-newspaper-o"> Blog</a>
            <a href="/products/en" class="fa fa-code"> Products</a>
            <a href="/contact/en" class="fa fa-envelope"> Contact</a>
        </div>
        <nav class="mon" id="mon">
            <button class="fa fa-bars" id="ham" onclick="mobileNav('en')"></button>
            <h2><a id="logo" href="/en/" class="m-logo">Avazeh</a> </h2>


            <div class="m-lang"><a href="/">فا</a></div>
        </nav>
        <div class="els" onclick="closeNav()">
            <nav class="mof">
                <h2><a href="/" class="logo">Avazeh</a> </h2>

                <div class="navbar">
                    <div class="links">
                        <a href="/en/" id="active-page">Home</a>
                        <a href="/about/en">About us</a>
                        <a href="/blog/en/">Blog</a>
                        <a href="/products/en/">Products</a>
                        <a href="/contact/en/">Contact</a>
                        <div class="lang"><a href="/">فا</a></div>
                    </div>

                </div>
            </nav>

            <!-- slider -->
            <div class="slideshow-container" id="sc">

                <div class="mySlides fade">
                    <img src={% static "portfolio/front-en.png" %} style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src={% static "portfolio/back-en.png" %} style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src={% static "portfolio/ui-en.png" %} style="width:100%">
                </div>

            </div>



            <div class="hidden" style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <div class="desc-sec">
                <div class="desc">
                    <h2>Avazeh team is always ready to help you</h2>
                    <p>Avazeh is a group of young iranian web engineers, developers and designers working since 2018 is
                        always ready to give service to companies, stores, businesses and individuals in web and
                        application fields, worldwide.</p>
                    <p>Avazeh members are expert in a lot of web technologies,and are looking forward to make you happy
                        with their amazing work and making your wish happen!</p>
                </div>
            </div>
            <div class="services">
                <h2>Here's some of our services : </h2>

                <div class="servs">
                    <div class="serv">
                        <p>Server side (backend) : </p>
                        <ul>
                            <div class="serv-item">
                                <li>Django (Python) </li>
                                {% comment %} <a href="#" class="btn-more">Read more ...</a> {% endcomment %}
                            </div>
                            <div class="serv-item">
                                <li>Node.js & Express (JavaScript)</li> 

                            </div>
                            <div class="serv-item">
                                <li>Laravel (PHP)</li> 

                            </div>

                        </ul>
                    </div>
                    <div class="serv">
                        <p>Client side (frontend) : </p>
                        <ul>
                            <div class="serv-item">
                                <li>Html, Css, JavaScript</li> 

                            </div>
                            <div class="serv-item">
                                <li>React.js </li> 

                            </div>
                            <div class="serv-item">
                                <li>Angular.js</li> 

                            </div>
                        </ul>
                    </div>
                </div>
                                    <a href="/about/en" class="fa fa-envelope btn-contact" style="width: 200px;"> See all</a>

            </div>

            <div class="projects">
                <h2>Some of our projects </h2>
                <div class="cards">
                    {% for project in projects  %}
                    <div class="card">
                        <img width="360px" src="{{ project.image.url }}" alt="Avatar">

                        <h3> {{ project.title }}
                        </h3>
                        <p> {{ project.description|striptags|truncatechars:100 }}
                        </p>
                        {% if project.link %}
                        <a href="{{ project.link }}" target="_blank" class="btn-morep-en">Read more...</a>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                <a href="/products/en/" class="btn-all">View all</a>
            </div>
                            <a href="/contact/en" class="fa fa-envelope btn-contact"> Contact Us</a>

 {% endblock %}